.capability-container {
	background-color: red;
	border-radius: 25px;
	margin: 25px;
	height: 100px;
}

.capability-container img {
  object-fit: cover;
  z-index: 0;
}

.capability-text {
	position: relative;
	background-color: gray;
	height: 100px;
	top: -16px;
	left: 50%;
	width: 50%;
}