.nav {
  font-size: 18px;
  /*opacity: 0.75;*/
}

.nav.dark {
  border-bottom: 1px solid #121212;
}

.nav-container {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 5px;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: #333;
}

.links a:hover {
  color: #0070f3;
}

.menu-btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  border-top: 1px solid #eee;
}

.mobile-menu a {
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

.accent-line {
	border-bottom: 3px solid #ff7e28;
}